<h2><mark style= " margin-top: 1.5em">Check my projects</mark></h2>
<div style="display: grid; grid-template-columns: auto auto auto ;  grid-gap: 1em 1em;">
  <% ["project1","project2","project3","project4", "project5", "project6", "project7"].each do |project|%>
  <div class="project-card" style = "background-color: white; border-radius: 0.5em">
    <img src="https://via.placeholder.com/400x300" alt="">
    <div style="padding: 0.5em 1em 1em 1em">
      <b><%= project %></b>
      <br> hola, aqui va un text relativament llarg resumint el projecte. text-overflow és una propietat.
    </div>
  </div>
  <% end %>



<% %>
<% %>
<% %>
</div>
