

<div id="introduction-box" style="padding: 1em; border: 1px solid black; display: flex">
  <img id="picture-ofmyface" style="background-color: grey; min-width: 10em; min-height: 10em; border-radius: 50em;">

  <div>
    Welcome to my portfolio! I am Gabriel, a junior web developer with a strong background in arts and design. I bring value to web development, utilizing my graphic technical skills and understanding of how a design is perceived and read. After completing my studies, I decided to further my knowledge in web development by participating in a bootcamp. I am excited to be early in my career, with endless opportunities for growth and improvement. The perfect project for me would be one that challenges me to take creative decisions and explore new ideas. I am passionate about the digital industry and look forward to continuing to grow and learn in this field. I look forward to collaborating with other developers and designers to create engaging and meaningful digital experiences for users.
  </div>
</div>
