<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
  #landing {
    top: 0vh;
    transition: top 0.5s;
  }
  </style>
</head>



<body style="background-color: whitesmoke; margin: 0px; overflow-y: hidden">
<%# L A N D I N G   P A G E %>
  <div id="landing" style="width: 100%; height: 100vh; position: absolute; z-index: 2">
    <div id="landing-bg" style="min-width: 100%; min-height: 100%; position: absolute; background-color: whitesmoke"></div>
    <div id= "landing-grid" style="position: relative">
      <div style="justify-self: center; align-self: center; min-width: 60%">
        <div id="container" style=""></div>
      </div>
      <div id = "welcome-to-my-pf" style=" " class="font-serif"><p style="text-align: center; margin: auto; font-weight: 400">welcome to<br>my portfolio</p></div>
    </div>
    <%#  <div id="triangle-down"></div> %>
  </div>
<%# / / / L A N D I N G   P A G E %>




  <div style="position: relative; z-index: 1; width: 90%; margin: auto;">
   <br>
   <a href="/"><header class="negre font-mono" style="font-weight: 600; width: 75%; margin: auto">gabriel ardèvol — web development</header></a>

    <div id= "header-grid">

      <div id="leftside"></div>

      <%# M I D D L E   G R I D %>
      <div>

        <h2><mark style="margin-top: 1em" class="groc font-serif">🍕About me</mark></h2>
        <div class= "font-sans"style="display: flex; font-size: 0.9em">
                    <img id="picture-ofmyface" style="background-color: grey; min-width: 10em; min-height: 10em; max-width: 10em; max-height: 10em; margin-right: 3em; border-radius: 50em;">

          <div>
            <div style="display: flex; font-size: 0.9em; width: fit-content; margin: auto; " class="font-mono"><a href=""class="text-verd">Short bio</a> | <a href="" class="text-blau">Long bio</a> | <a href=""class="text-vermell">Some music?</a></div>
            Welcome to my portfolio! I am Gabriel, a junior web developer with a strong background in arts and design. I bring value to web development, utilizing my graphic technical skills and understanding of how a design is perceived and read. After completing my studies, I decided to further my knowledge in web development by participating in a bootcamp. I am excited to be early in my career, with endless opportunities for growth and improvement. The perfect project for me would be one that challenges me to take creative decisions and explore new ideas. I am passionate about the digital industry and look forward to continuing to grow and learn in this field. I look forward to collaborating with other developers and designers to create engaging and meaningful digital experiences for users.
                <%# <iframe style="border-radius:12px; max-width: 30%" src="https://open.spotify.com/embed/playlist/5dXE4JcY0emBX7hMqtFpQp?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> %>
I believe uniqueness in UI design makes a difference and makes a product memorable. /// I believe uniqueness has it's own functionality:
          </div>

        </div>
        <div style="content-align: right; border-radius: 50px; width: fit-content; padding: 0.5em" class="groc font-mono">My CV</div>

        <br><br><br>
        <h2><mark style="margin-top: 1em" class="verd font-serif">🎯Skills / knowledge</mark></h2>
        <div style="background-color: white; border-radius: 10px; width: fit-content; margin-top: 3vh; padding: 10px">

          <div id="skills1-large" style="max-width: 100%; display: flex; gap: 20px; align-items: center; ">
            <% array = [
            "logos/ruby.svg",
            "logos/rails.svg",
            "logos/css.svg",
            "logos/html.svg",
            "logos/javascript.svg",
             "logos/adobe.png",
            "logos/github.svg",

            ] %>
            <% array.each do |image_route|%>
            <div style = "width: 110px"><%=image_tag(image_route, width: "100%") %></div>
            <%end%>
          </div>

          <div id="skills2-large" style="max-width: 100%; display: flex; gap: 20px; align-items: center">
            <% array = [
            "logos/blender.png",
            "logos/sql.png",
            "logos/figma.svg"

            ] %>
            <% array.each do |image_route|%>
            <div style = "width: 100px"><%=image_tag(image_route, width: "100%") %></div>
            <%end%>
          </div>

        </div>

        <br>
        <div class= "font-mono"style="display: flex; font-size: 0.9em">Currently learning:</div>
        <div style="background-color: white; border-radius: 10px; width: fit-content; margin-top: 3vh; padding: 10px">
          <div id="skills2-large" style="max-width: 100%; display: flex; gap: 20px">
            <% array = [
            "logos/heroku.png",
            "logos/react.png",
            ] %>
            <% array.each do |image_route|%>
            <div style = "width: 100px"><%=image_tag(image_route, width: "100%") %></div>
            <%end%>
          </div>
        </div>


        <br><br><br>
        <h2><mark style= "margin-top: 1em" class= "vermell font-serif">🪴Check my projects</mark></h2>
        <div id="projects-grid">
          <% ["project1","project2","project3"].each do |project|%>
          <div class="project-card">
            <div class="hashtags-container">
            <img src="https://via.placeholder.com/400x300" alt="">
          <div class="hashtags">
            <div class="hashtag">ruby</div>
            <div class="hashtag">ruby on rails</div>
            <div class="hashtag">javascript</div>
          </div>
          </div>
            <div class="card-text">
              <a href="/projects/project"><b><%= project %></b></a>
              <br> you've really put a lot of dedication on this. Enjoy while you show it to people.
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <%# / / / M I D D L E   G R I D %>

      <div id="rightside">

      </div>

    </div>

  </div>

</body>


<script>
  function createRows() {                                                       //sets the rows where elements will be placed
    for (var i = 0; i < (string.length / columns); i++) {                       //iterator
    row = container.appendChild(document.createElement("div"))                  //adds html row to html container
    row.id = `row${i + 1}`;                                                     // gives ID to row
    row.className = "row"}                                                      //assigns css class to row
  }

  function createElements(){                                                    //creates the elements for a given string and places the elements in the rows
  for (var i = 0; i < string.length; i++) {                                      //iterator
    row = document.querySelector(`#row${(Math.ceil(((i) / columns)+0.1))}`)     // determines which row belongs to the iterated element
    div = row.appendChild(document.createElement("div"));                        // creates the element div
    div.id = `element${i+1}`                                                    // gives ID to element (it's index plus one)
    div.className = "characterContainer font-mono"
    div.style.fontWeight = "500"                                        //assigns css class to element
    div.textContent = `${string[i]}`                                            // fills the element with text
    function dataSetRows(i){                                                    // dataset guides interaction between elements
      elements = document.querySelectorAll(".characterContainer");              //this variable is still not full scope
      if (elements[i].textContent != " ") {                                     // spaces between words don't get dataset
        elements[i].setAttribute("data-row", `${(Math.ceil(((i) / columns)+0.1))//parent row
        }`);
        elements[i].setAttribute("data-active", "true");                        // indicates that the element is visible
        elements[i].setAttribute("data-merged", "false")}                       // indicates that the element contains one character
    }
    dataSetRows(i)
    randomColorize(i)
  }}

  function randomColorize(i) {
    const colors = ['#FF7373', '#739AFF', '#5BB8D6', '#FF9473'];
    const randomIndex = Math.floor(Math.random() * colors.length);
    const randomColor = colors[randomIndex];
    if(elements[i].dataset.active) {                                            //blank spaces of string appear transparent
    elements[i].style.backgroundColor = randomColor;}
  }

  function action() {
    //randomColorize(0)                                                         //will change color of first element
    for (var i = 0; i < (string.length - 1); i++) {
      if (elements[i].dataset.active == "true" && elements[i].dataset.merged == "false" && elements[i+1].dataset.merged == "false") {
        if(Math.random()<0.09){merge(i)};
      } else if (elements[i].dataset.active == "true" && elements[i].dataset.merged == "true") {
        if(Math.random()<0.09){split(i)};
      }
    }
  }

  function merge(i) {
    if(elements[i].dataset.row === elements[i+1].dataset.row){
    elements[i].dataset.merged = "true";
    increaseWidth(i)
    hyde(i)
    elements[i].textContent += `${elements[i+1].textContent}`
    }
  }

  function hyde(i) {
    if (elements[i+1].textContent != " ") {elements[i+1].dataset.active = "false";} //sets "active" (not to blank spaces) TODO: apply hyde() function
    deleteWidth(i+1)
  }

  function split(i) {
    elements[i].textContent = `${elements[i].textContent[0]}`
    decreaseWidth(i)
    elements[i].dataset.merged = "false";
    elements[i+1].style.display = "flex"
    elements[i+1].dataset.active = "true"
    randomColorize(i+1)
    restoreWidth(i+1)
  }

  function increaseWidth(i) {
    elements[i].style.width = "1.8em";
  }

  function decreaseWidth(i) {
    elements[i].style.width = "1.2em";
  }

  function deleteWidth(i) {
    elements[i].style.width = "0em";
    elements[i].style.height = "0em";
    elements[i].style.color = "transparent";
  }

  function restoreWidth(i) {
    elements[i].style.width = "1.2em";
    elements[i].style.height = "1.2em";
    elements[i].style.color = "black";
    randomColorize(i+1)

  }

  var string = "gabriel ardèvol"// MODIFY THE DISPLAYED TEXT HERE
  var columns = 4

  var container = document.querySelector("#container");
  createRows();
  createElements();
  elements = document.querySelectorAll(".characterContainer"); // turn to a separate function

  setInterval(action, 2700);


  //TODO
  //al clicar al landing:
  //        el landing s'enretira cap a dalt i llavors display: none;
  //        el vertical overflow passa de hidden a scroll
  landingScreen = document.querySelector("#landing")
  function hydeLanding() {
    landingScreen.style.top = "-100vh";
    document.querySelector("body").style.overflowY = "scroll"
  }
  landingScreen.addEventListener("click", hydeLanding)
    landingScreen.addEventListener("keypress", hydeLanding)


  </script>
</body>
</html>
