  <div id='container' style='width: fit-content; margin: 10em auto'>test</div>
    <script>
    var string = 'This is my test'
    var columns = 22
    </script>
    <script src='/assets/lettering.js'>
    </script>
