.row {
  display: flex; /* set the container to use flex layout */
  align-items: center;
  margin-left: 2.5em;
}

#row3, #row4 {
  justify-content: flex-end;
  margin-right: 2.5em;
}


#welcome-to-my-pf {
  font-weight: bold;
  font-size: 2.4em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center
}


#landing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%
}

@media screen and (max-width: 600px) {
  #landing-grid {
    grid-template-columns: 1fr;
  }
}
