
$vermell: #FF7373;
$blau: #5b87f7;
$verd: #5BB8D6;
$groc: #FF9473;


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import "landing-animation";
@import "header";
@import "project-card";
@import "project-show";

.project-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  align-items: center;
  margin-top: 8vh;
}

@media screen and (max-width: 800px) {
  .project-show {
    grid-template-columns: 1fr;
  }
}



.text-overflow {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#skills > li {
  min-height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
 // max-width: 16.5%;

}
#skills > li > img{

 // border: 2px solid blue;
  max-width: 10em;
}

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
}

.blau {
  background-color: $blau;
}
.groc {
  background-color: $groc;
}
.verd {
  background-color: $verd;
}
.vermell {
  background-color: $vermell;
}

.negre {
  background-color: rgb(14, 14, 14);
}

.border-vermell {
  border: solid 2px $vermell
}
.border-groc {
  border: solid 2px $groc
}
.border-blau {
  border: solid 2px $blau
}
.border-verd {
  border: solid 2px $verd
}


.text-vermell {
  color: $vermell }
.text-groc {
  color: $groc }
.text-verd {
  color: $verd }
.text-blau {
  color: $blau }
.text-blanc {
  color: white;
}

body {
  background-color: whitesmoke;
}

.font-serif {
  font-family: 'IBM Plex Serif';
}

.font-mono {
   font-family: 'IBM Plex Mono';
    //font-size: 1.2em;
    }

    .font-sans {
      font-family: 'IBM Plex Sans';
       //font-size: 1.2em;
       }

#triangle-down {
  width: 0;
  height: 0;
  border-left: 1.1em solid transparent;
  border-right: 1.1em solid transparent;
  border-top: 1.1em solid black;
  margin: auto;

  }



  .subtitulo {
    font: 800 60px Arial;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: 2px;
  }


  #skill-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .home-title {
    width: fit-content; margin: auto
  }

  @media screen and (max-width: 800px) {
    #skill-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
  }

  @media screen and (max-width: 600px) {
    #skill-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;}
  }

  @media screen and (max-width: 520px) {
    #skill-grid{
    grid-template-columns: 1fr 1fr 1fr;}

    .home-title {
      width: 100%; text-align: center
    }
  }
